<ng-container *ngFor="let attraction of attractions | async;" >
  <div class="container">
    <mat-card class="attraction-card card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{attraction.nom}}</mat-card-title>
          <mat-card-subtitle>{{attraction.difficulte}} / 5</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{attraction.description}}
      </mat-card-content>
      <mat-card-actions >
        <mat-expansion-panel hideToggle  class="example-full-width">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Laissez votre avis
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container [formGroup]="formulaireCritique">

            <mat-form-field>
              <mat-label>Prénom</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
        
            <mat-form-field>
              <mat-label>Nom</mat-label>
              <input matInput formControlName="surname">
            </mat-form-field>

            
            <mat-label>Score</mat-label>
            <mat-slider min="0" max="5" step="1" value="1"  discrete >
              <input matSliderThumb formControlName="score" >
            </mat-slider>
            <mat-form-field class="example-full-width">
              <mat-label>Commentaire</mat-label>
              <input matInput #message maxlength="3000" formControlName="text" placeholder="Ex. Je trouve super cette attraction">
              <mat-hint align="start"><strong>donnez votre avis</strong> </mat-hint>
              <mat-hint align="end">{{message.value.length}} / 3000</mat-hint>
              <button mat-icon-button matSuffix  (click)="onSubmit(formulaireCritique,attraction.attraction_id)" >
                <mat-icon>send</mat-icon>
              </button>
            </mat-form-field>
           
          </ng-container>

        </mat-expansion-panel>

      </mat-card-actions>
    </mat-card>
    <ng-container *ngFor='let critique of critiques | async;'>
      <div *ngIf="critique.attraction_id == attraction.attraction_id">
        <mat-card class="comments-card card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{critique.name}} {{critique.surname}}</mat-card-title>
              <mat-card-subtitle>{{critique.score}} / 5</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            {{critique.text}}
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
  </div>
</ng-container>